*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana;
}
html,body{
	height: 100%;
}
.clear{
	clear: both;
}
.container{
	max-width:100%;
	margin: 0 auto;
}
section.video video{
	float: left;
	position: relative;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	z-index: -100;
	background-repeat: no-repeat;
	background-size: cover;
}
header nav{
	float: right;
}
nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 38px;
	height: 38px;
	background-image: url('../img/menu.png');
	background-size: 100% 100%;
}
nav.mobile-menu:hover ul{
	opacity: 1;
}
nav.mobile-menu ul{
	display: none;
	background-color:rgb(120,120,120,0.5);
	position: absolute;
	width: 100%;
	left: 0;
	top: 58px;
	color: black;
	list-style-type: none;
	text-align: center;
}
nav.mobile-menu ul li{
	padding: 8px 0;
	transition: 0.4s;
	border-bottom: 1px solid white;
}
nav.mobile-menu ul li:hover{
	background-color:rgb(120,120,120,0.5);
}
nav.mobile-menu ul li a{
	text-decoration: none;
	color:white;
	font-family: tahoma;
}
header nav.desktop-menu{
	width:100%;
	height: auto;
	background-color:rgb(32,208,251);
	-webkit-box-shadow: 0px 0px 5px 2px #0000005e;
	-moz-box-shadow: 0px 0px 5px 2px #0000005e;
	box-shadow: 0px 0px 5px 2px #0000005e;
}
header nav.desktop-menu ul{
	list-style-type: none;
	float: right;
	margin-right: 68px;
}
header nav.desktop-menu li{
	padding:10px 50px;
	float: left;
}
header nav.desktop-menu li a{
	color: white;
	text-decoration: none;
	font-family:Verdana;
}
nav.desktop-menu li a:hover{
	color:black;
	transition: 1s;
}
section.sessao1{
	width: 100%;
	padding:0px 2%;
}
section.sessao1 .container{
	max-width: 1200px;
}
section.sessao1 .texto-sessao1{
	width: 70%;
	float: left;
}
.sessao1 .texto-sessao1 .banner{
	margin-top: 12px;
	float: left;
	width: 33.3%;
}
.sessao1 .texto-sessao1 h2{
	color: 	#1E90FF;
	font-family: Tahoma;
}
.sessao1 .texto-sessao1 p{
	padding-top: 8px;
	margin-top: 8px;
	color:#191970;
}
.device-sessao1{
	float: left;
	width: 30%;
	height: 380px;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-box-shadow: 0px 0px 5px 2px #0000005e;
	-moz-box-shadow: 0px 0px 5px 2px #0000005e;
	box-shadow: 0px 0px 5px 2px #0000005e;
}
section.sessao2{
	padding: 40px 2%;
}
section.sessao2 h1{
	font-size:27px;
	text-align: center;
	font-family: Tahoma;
	color:white;
	border-bottom-right-radius:20px;
	border-top-left-radius: 20px;
	background-color: rgb(32,208,251);
	-webkit-box-shadow: 0px 0px 5px 2px #0000005e;
	-moz-box-shadow: 0px 0px 5px 2px #0000005e;
	box-shadow: 0px 0px 5px 2px #0000005e;
}
.box-sessao2{
	margin-top: 40px;
	padding: 2%;
}
.box-single-sessao2{
	float: left;
	width: 33.3%;
	padding:2% 15px;
}
.box-single-sessao2:nth-of-type(2){
	border-left: 2px solid #0000005e;
	border-right: 2px solid #0000005e;
}

section.sessao2 h2{
	text-align: center;
	font-size:27px;
	font-weight: 300;
	color:black;
}
section.sessao2 p{
	margin-top: 12px;
	color:rgb(100,100,100);
	font-size: 15px;
	font-family: Verdana;
}
section.sessao3{
	background-color:rgb(120,120,120,0.10);
	border-bottom: 1px solid rgb(32,208,251);
	padding: 100px 0;
}
.form{
	float: left;
	width: 50%;
	color: black;
	padding-left: 10px;
}
.form h2{
	font-size: 23px;
	font-weight: 300;
	color:#191970;
}
.form form{
	margin-top:15px;
}
.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	margin-top: 8px;
	height: 58px;
	padding-left: 8px;
	line-height: 58px;
	font-family: Verdana;
	border: 1px solid rgb(200,200,200);
}
.form form textarea{
	font-family: Verdana;
	width: 90%;
	margin-top: 8px;
	max-width: 480px;
	padding: 15px;
	border: 1px solid rgb(200,200,200);
	height: 160px;
	resize: none;
}
.form form input[type=submit]{
	border:0;
	background-color:#1E90FF;
	width: 165px;
	height: 44px;
	font-size: 17px;
	color: white;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 0px 5px 2px #0000005e;
	-moz-box-shadow: 0px 0px 5px 2px #0000005e;
	box-shadow: 0px 0px 5px 2px #0000005e;
}
.map-wraper{
	float: left;
	width: 50%;
	padding: 0 10px;
	color: white;	
}
.map-wraper h2{
	font-size: 23px;
	font-weight: 300;
	color:#191970;
}
.map-wraper3{
	margin-top: 10px;
	width: 100%;
	max-width: 480px;
	position: relative;
}
.map-wraper2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 100%;
}
.map{
	left:0;
	top: 0;
	position:absolute;
	width: 100%;
	height: 100%;
	background: white;
	border:5px solid rgb(200,200,200);
}
section.diferenciais{
	padding:15px 0;
	background-color:white;
}
section.diferenciais > .container > h2{
	text-align: center;
	font-size: 20px;
	font-weight: 100px;
	color:#191970;
}
.box-diferenciais{
	margin-top:40px;
}
.box-single-diferencial{
	float: left;
	width:33.3%;
	padding: 0 10px;
}
.box-single-diferencial{
	font-size: 25px;
	text-align: center;
}
.box-single-diferencial p{
	font-size: 15px;
	color:black;
}
.info-contato{
	border-top: 1px solid rgb(32,208,251);
	background-color:rgb(120,120,120,0.10);
	padding:10px;
}
.info-contato .inform{
	float: left;
	width: 33.3%;
	text-align: center;
}
.inform h2{
	color:#191970;
	margin-bottom: 8px;
}
.inform p{
	color:black;
}
footer{
	padding: 20px 15px;
	background-color: black;
	color: white;
}
footer p:nth-of-type(1){
	float: left;
	font-size: 14px;
}
footer p:nth-of-type(2){
	float: right;
	padding:0 50px;
	font-size: 14px;
}


/*Responsivo*/
@media screen and (max-width:938px){
	.info-contato .inform{
		padding-top: 8px;
		width:100%;
		text-align: center;
	}
}
@media screen and (max-width:845px){	
	header{
		background-color:rgb(228,228,233);
	}
	nav.desktop-menu{
		display: none;
	}
	nav.mobile-menu{
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 4%;
		display: block;
	}
}

@media screen and (max-width:768px){

	section.sessao1 .texto-sessao1{
		width:100%;
		float: left;
	}
	.sessao1 .texto-sessao1 .banner{
		margin-top: 12px;
		width:100%;
		height: auto;
	}
	.sessao1 .texto-sessao1 h2{
		color: 	#1E90FF;
		font-family: Tahoma;
	}
	.sessao1 .texto-sessao1 p{
		padding-top: 8px;
		margin-top: 8px;
		color:#191970;
	}
	.box-single-sessao2:nth-of-type(2){
		border-left: none;
		border-right: none;
		border-top: 2px solid #0000005e;
		border-bottom: 2px solid #0000005e;
		padding-bottom:8px;
	}
	.device-sessao1{
		display: none;
	}

	.box-single-sessao2{
		width: 100%;
		margin-top: 12px;
		text-align: center;
	}
	.box-single-sessao2 p{
		text-align: left;
	}

	section.sessao3 .container{
		text-align: center;
	}
	section.sessao1{
		padding:40px 2%;
		height:auto;
		text-align:center;
	}
	.texto-sessao1{
		width:100%;
		margin-top:0;
		padding-left: 0;
		position:static;
		float:none;
		display:inline-block;
	}
	.texto-sessao1 ul{
		display:inline-block;
		margin-top:20px;
	}
	.texto-sessao1 ul li{
		float:none;
		text-align:left;
	}
	.btn1-texto{
		display:inline-block;
	}

	.form{
		float: none;
		width: 100%;
	}
	.form p{
		display: inline-block;
		float: none;
	}
	.map-wraper{
		float:none;
		width: 100%;
		padding: 0 4%;
		margin-top: 40px;
	}
	.map-wraper3{
		margin-top: 10px;
		width: 80%;
		padding-top: 80%;
		display: inline-block;
		max-width: none;
		position: relative;
	}
	.map-wraper2{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-top:0;
	}

	section.diferenciais{
		background: rgb(220,220,220);
	}
	.box-diferenciais{
		margin-top: 0;
	}
	.box-single-diferencial{
		width: 100%;
		margin-top: 12px;
		text-align: center;
	}
	.box-single-diferencial p{
		display: inline-block;
		max-width: 400px;
	}
	

	footer{
		text-align: center;
	}
	footer p:nth-of-type(1){
		float: none;
	}
	footer p:nth-of-type(2){
		float: none;
		margin-top: 8px;
	}
}

@media screen and (max-width: 375px){
	section.sessao1{
	width: 100%;
	padding: 0 2%;
	height: 460px;
	}
	section.sessao1 .container{
		max-width: 500px;
	}
	.texto-sessao1{
		margin-top: 15px;
		float: left;
		width:100%;
		color: #ccc;
	}
	.texto-sessao1 h2{
		font-size: 34px;
		color: black;
		font-weight: 100;
		font-family: Verdana;
	}
	.texto-sessao1 ul{
		margin-top: 19px;
		font-size: 13px;
		list-style-position: inside;
		padding-left:15px;
	}
	.texto-sessao1 ul li{
		float: left;
		color: black;
		width: 100%;
		margin-top: 22px;
	}
	.parte1{
		width: 100%;
		padding:20px 10px;
	}
	.parte2{
		width: 100%;
		padding:60px 0;
	}
	.sessao2 img{
		top: 55px;
		margin-top:15px;
	}
	section.sessao2 h1{
		width:100%;
		margin-top: 12px;
		display: inline-block;
		font-size:auto;
	}
	.info-contato .inform h2{
		font-size: 18px;
	}
	.info-contato .inform p{
		font-size: 14px;
	}
	footer{
		text-align: center;
	}
	footer p:nth-of-type(1){
		float: none;
	}
	footer p:nth-of-type(2){
		float: none;
		margin-top: 8px;
	}
	html,body{
		width: 100%;
	}
}
